.DS*
.waf-1*
.waf3-*
.lock*
**/*.pyc
build/
VERSION
FinalReport/*.pdf
FinalReport/*.bbl
FinalReport/*.out
FinalReport/*.cls
FinalReport/*.log
FinalReport/*.glo
FinalReport/*.idx
FinalReport/*.toc
FinalReport/*.blg
FinalReport/*.lot
FinalReport/*.aux

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
.\#*

# Visual Studio Code
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Waf build system
/build/
.waf-*-*/
.waf3-*-*/
.lock-waf*

# Compiled python code
__pycache__/
*.py[cod]

# Other
/VERSION
